<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GroupName</key>
	<string>nagios</string>
	<key>Label</key>
	<string>com.nagios.nrpe</string>
	<key>ProgramArguments</key>
	<array>
	    <string>/usr/bin/nrpe</string>
		<string>-c</string>
		<string>/etc/nrpe.cfg</string>
		<string>-i</string>
	</array>
	<key>UserName</key>
	<string>nagios</string>
	<key>Sockets</key>
	<dict>
		<key>Listeners</key>
		<dict>
			<key>SockServiceName</key>
			<string>5666</string>
			<key>SockType</key>
            <string>stream</string>
		</dict>
	</dict>
	<key>inetdCompatibility</key>
	<dict>
		<key>Wait</key>
		<false/>
	</dict>
    <key>StandardErrorPath</key>
	<string>/Library/Logs/nrpe/nrpe-err.log</string>
	<key>StandardOutPath</key>
	<string>/Library/Logs/nrpe/nrpe-out.log</string>
</dict>
</plist>
